<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NotepadCoop
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/document']">Documento</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="ion-padding">

    <form (ngSubmit)="insert()">
      <ion-item lines="none">
        <ion-label position="floating">Digite o título do formulário</ion-label>
        <ion-input type="text" [(ngModel)]="title" name="title" required></ion-input>
      </ion-item>
  
      <ion-buttons>
        <ion-button expand="block" type="submit" color="primary">Inserir</ion-button>
        <ion-button expand="block" (click)="cancel()" class="secondary">Cancelar</ion-button>
      </ion-buttons>
    </form>

  </ion-card>
  
  <ion-card *ngIf="itens.length > 0; else empty">
    <ion-list>
      <ion-item *ngFor="let item of itens">
        <ion-label>{{ item }}</ion-label>
        <ion-buttons slot="end">
          <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="eye-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card>
  <ng-template #empty>Nenhum documento inserido</ng-template>

  
</ion-content>